body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100dvh;
}
main {
    flex-grow: 1;
}
header, nav, section, footer {
    border: 1px solid #ccc;
    margin: 10px;
    padding: 10px;
}
header {
    background-color: #f0f0f0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;    
}
nav {
    background-color: #e0e0e0;
    margin-top: 0;
    padding-top: 0;
    padding-bottom: 0;
    text-align: center;    
}
nav ul {
    list-style: none;
    padding: 0;
    display: inline-flex;    
    gap: 15px;    
}
nav ul li {
    margin: 5px 0;
    background-color: #e0e0e0;
    transition: background-color 0.3s ease;    
}
nav ul li:hover {
    margin: 5px 0;
    background-color: lightblue;
    background-clip: content-box;
    transition: background-color 0.3s ease;
}
header img {
    max-width: 100%;
    height: auto;
    display: block;
    margin-top: 10px;
}
.container {
    display: flex;
    flex-wrap: wrap;
}
.box {
    flex: 1 1 300px;
    margin: 10px;
    padding: 10px;
    border: 1px dashed #aaa;
    background-color: #e9e9e9;
}
.box img {
    max-width: 100%;
    height: auto;
    display: block;
    margin-bottom: 10px;
}
footer {
    background-color: #f0f0f0;
    text-align: center;
    font-size: small;
}